.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 0 20px;
    box-sizing:border-box;
}

.home{
    color: #000000D9;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
    cursor: pointer;
}

.sing{
    display: flex;
}

.sing_in{
    width: 109px;
    height: 51px;
    font-size: 18px;
    line-height: 28px;
    background-color: white;
    border: none;
    margin-right: 20px;
    cursor: pointer;
}

.sing_up {
    width: 109px;
    height: 51px;
    font-size: 18px;
    line-height: 28px;
    border: 1px solid #52C41A;
    border-radius: 5px;
    color: #52C41A;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
  
.sing_up:hover {
    background-color: #52C41A;
    color: white;
}